<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%; width: 100%" *ifPageLoaded>
	<div
		class="mat-elevation-z5"
		style="width: 750px; max-width: 85%; min-height: 350px; padding: 11px 22px; margin-bottom: 5%; background: #fff"
	>
		<!--*********************************-->
		<!--******* START LOGIN FORM ********-->
		<!--*********************************-->

		<!-- Logo -->
		<div align="center">
			<!-- <img style="max-height: 248px; margin-top: 25px; margin-bottom: 11px" src="assets/images/logo.png" /> -->
		</div>

		<div id="firebaseui-auth-container"></div>

		<!--*********************************-->
		<!--******** END LOGIN FORM *********-->
		<!--*********************************-->
	</div>
</div>
